body {
    background-color: white;
    color: black;
}
h1 {
    text-align: center
}
p {
    text-align: center
}
div {
    text-align: center
}
button {
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
}
input[type=button] {
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
}

input[type=file]::file-selector-button {
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
}

#dark_mode_button {
    border: none;
    border-radius: 5px;
    font-size: 25px;
    position: absolute;
    top: 10px;
    left: 10px;
    height: 50px;
    width: 50px;
    padding: 0;
}

.dark_mode {
    background-color: black;
    color: white;
}
.image_dark_mode {
    filter: invert(1);
}
.button_dark_mode {
    background-color: #2b2b2b;
    color: white;
}
.button_dark_mode:hover {
    background-color: #4b4b4b;
}
.dropdown {
    position: relative;
    display: block;
}
.dropdown-content {
    display: none;
    position: absolute;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    width: 200px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    border-radius: 5px;
    z-index: 1;
}
.dropdown-content:not(.button_dark_mode) {
    background-color: #f1f1f1;
}
.dropdown-content a {
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
.dropdown-content a:hover {
    background-color: #ddd;
}
.show {
    display: block;
}


